<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MilkTeaShop.Properties.Settings.Cnnstr" connectionString="Data Source=DIEMQUYNH;Initial Catalog=MilkTeaShop;Integrated Security=True;Encrypt=False"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>